* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

body{
    height: 100%;
    background: url('/AssetsPowerRangers/BackGroundColor.jpg') no-repeat top center/cover fixed;
    display: flex;
    justify-content: center;
}
.container{
    /* min-width: 500px; */
    max-width: 1028px;
    /* border: 3px solid black; */

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
    margin-bottom: 128px;
    gap: 128px;
}
/* @media(width <= 700px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 128px;
        margin-bottom: 128px;
        gap: 128px;
    }
} */
.search-bar{
    background-color: #2D3133;
    border-radius: 25px;
    position: sticky;
    top: 20px;
    /* position: fixed; */
    width: 350px;
    height: 40px;
    z-index: 12;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 28px;
    color: white;
}
@media(width <= 760px){
    .search-bar{
        width:"" ;
    }
}
.search{
    display: flex;
    gap: 16px;
    align-items: center;
    /* width: 100%; */
}
#search-here{
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
}
#search-here:focus{
    outline: none;
}
.btn{
    cursor: pointer;
    border: none;
    height: 100%;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 25px;
    background-color: #2D7AED;
    color: white;
    font-family: 'montserrat';
    font-size: 16px;
    font-weight: 400;
    transition: background-color 0.2s, transform 0.2s;
}
.btn:hover{
    background-color: #020D1D;
    /* transform: scale(1.1); */
}
/* .List-hqs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
} */
.list-hqs-completed{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    list-style: none;
 }
 .list-hqs-completed a{
    text-decoration: none;
    color: inherit;
 }
.hqs{
    background: linear-gradient(180deg, rgba(31, 31, 31, 0.75) 0%, rgba(31,31,31,0.75) 100%);
    border-radius: 25px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    padding: 28px;
    gap: 10px;
    transition: scale 0.2s, box-shadow 0.2s;
    color: white;
}
@media(width <= 760px){
    .hqs{
        flex-direction: column;
        align-items: center;
    }
}
.hqs:hover{
    scale: 1.01;
    /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75); */
}
.hqs img{
    width: 203px;
    height: 312px;
    object-fit: cover;
}
@media(width <= 760px){
    .hqs img{
        width: 170px;
        height: 261px;
        object-fit: cover;
    }
}
.hqs h1{
    font-weight: 900;
}
.hqs p{
    font-weight: 400;
}
#no-results{
    display: none;
    width: 1028px;
    background: linear-gradient(180deg, rgba(31, 31, 31, 0.75) 0%, rgba(31,31,31,0.75) 100%);
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 20px;
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-hqs{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.date{
    width: 100%;
}
