* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height: 100%;
    background: url(./AssetsPowerRangers/BackGround.jpg) no-repeat top center/cover fixed;
    display: flex;
    justify-content: center;
}  
.container{
    max-width: 1028px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
    margin-bottom: 128px;
    gap: 128px;
}
.search-bar{
    border: 1px solid green;
    width: 680px;
    height: 40px;
}
.List-hqs{
    display: flex;
    flex-direction: column;
    width: 1028px;
    gap: 40px;
}
.hqs{
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 25px;
    display: flex;
    padding: 28px;
    gap: 10px;
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-hqs{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
img{
    width: 203px;
    height: 312px;
}