* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

body{
    height: 100%;
    background: url(../static/AssetsPowerRangers/BackGround.webp)
        no-repeat
        top center/cover
        fixed;
    display: flex;
    justify-content: center;
    margin: 16px;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge moderno */
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.search-bar{
    background-color: #2D3133;
    border-radius: 25px;
    position: sticky;
    top: 20px;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 28px;
    color: white;
    cursor: text;
}
#search-here{
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
}
#search-here:focus{
    outline: none;
}
.list-hqs-completed{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    list-style: none;
}
.list-hqs-completed a{
    text-decoration: none;
    background: linear-gradient(180deg, rgba(31, 31, 31, 0.75) 0%, rgba(31,31,31,0.75) 100%);
    border-radius: 25px;
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    gap: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 275px;
}
.capa{
    width: 203px;
    height: 312px;
    object-fit: cover;
}
#no-results{
    grid-column: 1 / -1;
    display: none;
    width: 1028px;
    background: linear-gradient(180deg, rgba(31, 31, 31, 0.75) 0%, rgba(31,31,31,0.75) 100%);
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 20px;
}