* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

body{
    height: 100%;
    background: url(../static/AssetsPowerRangers/BackGroundColorBlur.webp)
        no-repeat
        top center/cover
        fixed;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge moderno */
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}
.search-bar{
    background-color: #2D3133;
    border-radius: 25px;
    position: sticky;
    top: 20px;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 28px;
    color: white;
    cursor: text;
    z-index: 12;
}
#search-here{
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
}
#search-here:focus{
    outline: none;
}
.list-hqs-completed{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    list-style: none;
}
@media (max-width: 1024px) {
    .list-hqs-completed{
        grid-template-columns: repeat(2, 1fr);
    }
    #no-results{
        width: 90%;
    }
}
@media (max-width: 768px) {
    .list-hqs-completed{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 425px) {
    .search-bar{
        width: 90%;
    }
    .list-hqs-completed{
        grid-template-columns: repeat(1, 1fr);
    }
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 275px;
}
.link{
    text-decoration: none;
    background:rgba(31, 31, 31, 0.5);
    border-radius: 25px;
    width: 275px;
    height: 476px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    gap: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
    transition: all 0.2s ease-in-out;
}
.link:hover{
    background:rgba(31, 31, 31, 0.75);
}
.link:hover .capa{
    transform: scale(1.05);
}
.link:hover .tittle{
    text-decoration-line: underline;
    transform: scale(1.05);
    font-weight: 600;
}
.capa{
    width: 203px;
    height: 312px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.divisor{
    width: 100%;
    border-bottom: 1px solid gray;
}
.tittle{
    font-size: 21px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
#no-results{
    grid-column: 1 / -1;
    display: none;
    width: 1028px;
    background: linear-gradient(180deg, rgba(31, 31, 31, 0.75) 0%, rgba(31,31,31,0.75) 100%);
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 20px;
}