*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--cor-elemento-secundaria);
    color: var(--cor-principal);
    box-shadow: 0 1px 3px 0 rgba(53, 71, 169, 0.1);
;
}
.header-content{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 16px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo i{
    font-size: 28px;
}
.navegacao{
    display: flex;
    align-items: center;
    gap: 20px;
}
.botao{
    background: transparent;
    outline: none;
    display: flex;
    gap: 9px;
    padding: 8px 12px;
    border: 1px solid var(--cor-elemento-principal);
    border-radius: 6px;
    color: color-mix(in srgb, var(--cor-texto-secundario) 50%, transparent);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.botao i{
    color: var(--cor-principal);
}
.botao:hover{
    border: 1px solid var(--cor-principal);
    color: var(--cor-texto-secundario);
}

nav{
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: start;
}
.nav-content{
    position: relative;
    width: 100%;
    max-width: 400px; 
    display: flex;
    margin: 32px 16px;
}
.nav-content i{
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor-principal);
}
#busca{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 40px;
    border: 2px solid color-mix(in srgb, var(--cor-texto-secundario) 10%, transparent);
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
#busca:focus{
    border: 2px solid var(--cor-principal);
    outline: none;
    box-shadow: 0 0 0 3px rgba(53, 71, 169, 0.2);
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-content{
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 32px 16px;
}
.card-hq{
    width: 100%;
    max-width: 240px;
    height: 450px;
    background: var(--cor-elemento-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    border-radius: 12px;
    border: 2px solid transparent;
    color: var(--cor-texto-secundario);
    box-shadow: 0 4px 6px -1px rgba(53, 71, 169, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.card-capa img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}
.card-info{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 12px;
    font: 300 14px var(--fonte-secundaria);
    transition: all 0.2s ease-in-out;
}
.card-destaques{
    display: flex;
    justify-content: space-between;
    font: 12px var(--fonte-secundaria);
    color: color-mix(in srgb, var(--cor-texto-secundario) 60%, transparent);
    transition: all 0.2s ease-in-out;
}
.tag{
    background: var(--cor-principal);
    display: flex;
    padding: 6px 12px;
    border-radius: 999px;
    color: var(--cor-texto-principal);
    font: var(--fonte-principal);
}
.acao::before{
    content: "Ação";
}
.aventura::before{
    content: "Aventura";
}
.card-hq:hover{
    box-shadow: 0 8px 8px -1px rgba(53, 71, 169, 0.3);
    border: 2px solid var(--cor-principal-hover);
}
.card-hq:hover .card-capa img{
    transform: scale(1.05);
}
.card-hq:hover .card-info{
    transform: translatey(-6px);
}

@media (max-width: 768px) {
    .botao span{
        display: none;
    }
}