{% extends "base.html"%}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="/static/home.css">
{% endblock %}

{% block title %}home{% endblock %}

{% block content %}

<div class="container">
    <label for="search-here" class="search-bar">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" name="" id="search-here" placeholder="Pesquise Aqui...">
    </label>
    <ul class="list-hqs-completed">
        {%for pasta in pastas%}
        <li class="item">
            <a href="{{ url_for('hq', nome_pasta=pasta) }}" class="link">
                <img src="/static/AssetsPowerRangers/Capas/{{pasta}}.webp" alt="{{pasta}}" class="capa" loading="lazy">
                <div class="divisor"></div>
                <p class="tittle">{{pasta}}</p>
            </a>
        </li>
        {%endfor%}
        <li id="no-results">
            <h1>Nenhum resultado encontrato.</h1>
        </li>
    </ul>
</div>

{% block js %}
<script src="/static/JavaScript/home.js"></script>
<script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock%}

{% endblock %}