 <!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="AssetsPowerRangers/FavIcon/Verde.webp" type="Icon">
    <link rel="icon" href="{{ url_for('static', filename='/AssetsPowerRangers/FavIcon/Verde.webp') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="/static/home.css">
    <title>Coleção Hqs Power Rangers</title>
</head>
<body>
    <div class="container">
        <label for="search-here" class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" name="" id="search-here" placeholder="Pesquise Aqui...">
        </label>
        <ul class="list-hqs-completed">
            {%for pasta in pastas%}
            <li class="item">
                <a href="#" target="_blank">
                    <img src="/static/AssetsPowerRangers/Capas/{{pasta}}.webp" alt="Mighty Morphin Power Rangers" class="capa">
                    <div class="divisor" style="width: 100%; border-bottom: 1px solid gray;"></div>
                    <h1 class="tittle">{{pasta}}</h1>
                </a>
            </li>
            {%endfor%}
            <li id="no-results">
                <h1>Nenhum resultado encontrato.</h1>
            </li>
        </ul>
    </div>
    <script src="/static/JavaScript/home.js"></script>
    <script src="{{ url_for('static', filename='JavaScript/home.js') }}"></script>
</body>
</html>